body{
    background-color: #F5F7FA;
}

.container{
    background-color: #FFFFFF;

}

ul{
    font-size: 18px;
    font-weight: 500;
}

a{
    text-decoration: none;
    color: red;
}

.anime{
    padding: 4px;
    margin-left: 5px;
    
    font-style: italic;
    background: linear-gradient(to right, red , orange ,yellow,green,blue,indigo,violet);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

